{% extends 'base.html.twig' %}
{% block title %}Detail
{%
endblock %}
{% block body %}

	<div class="flex flex-col gap-8">

		<div class="text-center">{{ product.getName() }}</div>
		<div class="border-2 p-4">{{ product.getComment() }}</div>
		<div>Created at:
			{{ product.getCreatedAt()|date('d/m/Y') }}
		</div>
		<a class="btn" href="/product">Back</a>

	</div>
{% endblock %}
